body,html{
    margin: 0;
    padding: 0;
}
.weekly-item{
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}
.number{
    font-size: 18px;
    padding: 0 13px;
}
.song-title{
    font-size: 15px;
}
.info{
    flex-grow: 1;
}
.singer{
    font-size: 13px;
    color: #999;
    margin-top: 8px;
}
.view-count{
    font-size: 13px;
    color: #999;
}

.album-cover{
    height: 128px;
    width: 128px;
    background-image: url('./bg.jpeg');
    background-size: cover;
    background-position: center;
}
.overlay{
    /* Cho nó bao phủ vừa khít độ rộng của album-cover */
    height: 100%;  
    position: relative; 
    display: flex;
    align-items: flex-end;
    padding: 8px;
    /* Do padding 8 nên ảnh nó sẽ dài ra nên dùng box-sizing sẽ làm cho nó lùi 8px nhưng ảnh k dài ra */
    box-sizing: border-box;
}

.album-item{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.album-item .over-lay-img{
    height: 100%;
    background-image: url('bg.jpeg');
    background-position: center;
    background-size: cover;
    transition: all .3s;
}
.over-lay{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(199, 195, 195);
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition:  all .3s;
}

.over-lay i{
    transform: scale(0.5);
    transition: all .3s;
}
.album-item:hover .over-lay{
    opacity: 1;
}
.album-item:hover .over-lay i{
    transform: scale(1);
}
.album-item:hover .over-lay-img{
    transform: scale(1.2);
}